#preseed mirror/http/proxy string http://192.168.1.2:3142/

# System language
lang en_US

# Language modules to install
langsupport en_US

# System keyboard
keyboard us

# System mouse
mouse

# System timezone
timezone Asia/Shanghai

# Root password
rootpw --disabled

# Initial user (will have sudo so no need for root)
user test --fullname "Ubuntu User" --password mypassword

# Reboot after installation
#reboot
poweroff

# Use text mode install
text

# Install OS instead of upgrade
install

# Installation media
cdrom

# unmount current drive
preseed preseed/early_command string umount /media

# System bootloader configuration
bootloader --location=mbr

# Clear the Master Boot Record
zerombr yes

# Partition clearing information
clearpart --all --initlabel

#Basic disk partition
part / --fstype ext4 --size 1 --grow --asprimary
part swap --size 1024

# Don't install recommended items by default
#preseed base-installer/install-recommends boolean false

# System authorization infomation
# The enablemd5 has to be there although it will still use salted sha256
#auth  --useshadow  --enablemd5

# Network information
network --bootproto=dhcp --device=eth0

# Firewall configuration
firewall --disabled --trust=eth0 --ssh


# Policy for applying updates. May be "none" (no automatic updates),
# "unattended-upgrades" (install security updates automatically), or
# "landscape" (manage system with Landscape).
preseed pkgsel/update-policy select unattended-upgrades

# Mirror
preseed mirror/country string CN
preseed mirror/http/countries select CN
preseed mirror/http/hostname string cn.archive.ubuntu.com
preseed mirror/http/directory string /ubuntu
preseed mirror/http/mirror select cn.archive.ubuntu.com
preseed mirror/protocol select http

preseed apt-setup/security_host string cn.archive.ubuntu.com
preseed apt-setup/security_path string /ubuntu

# Hostname
preseed netcfg/hostname string localhost.localdomain

# Do not configure the X Window System
skipx

# Additional packages to install
# - Uncomment the open-vm-tools line if this is going to run in vmware and are
#   not going to use vmware-tools that's distributed with it. Don't think the
#   --no-install-recommends is needed to not install desktop tools but doesn't
#   hurt anything
%packages
# Since I don't install recommended it leaves out some things that should
# probably be installed like openssl and python 2.7
ca-certificates
openssl
python
wget
openssh-server
curl
vim


%post
# Why vim doens't just set background=dark by default is beyond me
#echo "set background=dark" >>/etc/vim/vimrc.local

# Change default umask from 022 to 027 (not world readable). Remove this line
# if you don't want that
#sed -i -e 's/^\(UMASK\W*\)[0-9]\+$/\1027/' /etc/login.defs

# Add noatime to /etc/fstab
sed -i -e 's/\(errors=remount-ro\)/noatime,\1/' /etc/fstab

# Clean up
apt-get -qq -y autoremove
apt-get clean
rm -f /var/cache/apt/*cache.bin
rm -f /var/lib/apt/lists/*
